

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-image: url(src/assets/bgimg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}


/* Default styles for large screens */
.time {
  @apply flex text-center my-8 text-8xl p-3 flex-col gap-4;
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .time {
      @apply text-6xl;
  }
}

/* Small screens (mobiles) */
@media (max-width: 768px) {
  .time {
      @apply text-4xl p-2;
  }
}
